@model Item
@{
    ViewData["Title"] = "Delete";
}

<h2>Borrado de artículo @Model.Code (@Model.Description) </h2>
<h3>¿Deseas borrar este artículo?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>

        <dl>
            <dt>@Html.DisplayNameFor(model => model.Id)</dt>
            <dd>@Html.DisplayFor(model => model.Id)</dd>

            <dt>@Html.DisplayNameFor(model => model.Code)</dt>
            <dd>@Html.DisplayFor(model => model.Code)</dd>

            <dt>@Html.DisplayNameFor(model => model.Description)</dt>
            <dd>@Html.DisplayFor(model => model.Description)</dd>

            <dt>@Html.DisplayNameFor(model => model.Price)</dt>
            <dd>@Html.DisplayFor(model => model.Price)</dd>
        </dl>

        <input class="submit-button" type="submit" value="Si, borrar"/><br />
        <a asp-action="Index">No, regresar</a>
    </form>
</div>