@model Inventory
@{
    ViewData["Title"] = "Editar inventario";
}

<h2>Edición de inventario</h2>
@*<h3>Artículo: @Model.Item.Code (@Model.Item.Description)</h3><br />
<h3>Almacén: @Model.Warehouse.Code (@Model.Warehouse.Name) </h3><br />*@
<label>Artículo: @Model.Item.Code (@Model.Item.Description)</label><br />
<label>Almacén: @Model.Warehouse.Code (@Model.Warehouse.Name)</label><br />
<div>
    <form asp-action="EditInventory">
        <input type="hidden" asp-for="Id" />

        <label asp-for="Item.Code"></label><br />
        <input type="text" asp-for="Item.Code" /><br />
        <span asp-validation-for="Item.Code"></span>

        <label asp-for="Warehouse.Code"></label><br />
        <input type="text" asp-for="Warehouse.Code" /><br />
        <span asp-validation-for="Warehouse.Code"></span>

        <label asp-for="Stock"></label><br />
        <input type="number" asp-for="Stock" /><br />
        <span asp-validation-for="Stock"></span>

        <input class="submit-button" type="submit" value="Guardar"/>
    </form>
</div>
