@model Pos
@{
    ViewData["Title"] = "Delete";
}

<h2>Borrado de caja @Model.Name</h2>
<h3>¿Deseas borrar esta caja?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>

        <dl>
            <dt>@Html.DisplayNameFor(model => model.Id)</dt>
            <dd>@Html.DisplayFor(model => model.Id)</dd>
            <dt>@Html.DisplayNameFor(model => model.Code)</dt>
            <dd>@Html.DisplayFor(model => model.Code)</dd>
            <dt>@Html.DisplayNameFor(model => model.Name)</dt>
            <dd>@Html.DisplayFor(model => model.Name)</dd>
            <dt>@Html.DisplayNameFor(model => model.Warehouse.Code)</dt>
            <dd>@Html.DisplayFor(model => model.Warehouse.Code)</dd>
        </dl>

        <input type="submit" value="Si, borrar"/>
        <a asp-action="Index">No, regresar</a>
    </form>
</div>

