@using Repos.Web.Admin.ViewModels
@model PosViewModel
@{
    ViewData["Title"] = "Index";
}

<div>
    <div>
        <h1>Cajas</h1>
        <div class="button-left-container">
            <a asp-controller="Pos" asp-action="Create"><img class="add-link-icon" src="~/content/images/plus.png" />Nueva caja</a>
        </div>
    </div>
    <div>
        @if (Model != null && Model.Pos.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Pos[0].Code)</th>
                        <th>@Html.DisplayNameFor(model => model.Pos[0].Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Pos[0].Warehouse.Code)</th>
                        <th>@Html.DisplayNameFor(model => model.Pos[0].Status)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Pos)
                    {
                        <tr>
                            <td>@Html.DisplayFor(i => item.Code)</td>
                            <td>@Html.DisplayFor(i => item.Name)</td>
                            <td>@Html.DisplayFor(i => item.Warehouse.Code)</td>
                            <td>@Html.DisplayFor(i => item.Status)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>